// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins

/**

    Colours

	Background, colour, etc. match up with colour map in _variables.scss

	modify to suit per project

*/

@mixin colours($selector: false, $chain: "&--", $background: "base", $border: true) {
    @each $name, $values in $colours {
        #{$chain}#{$name} {
            @if $selector {
                #{$selector} {
                    @if $background {
                        background-color: map-get($values, $background);

                        @if $border {
                            border-color: darken(map-get($values, $background), 20%);
                        }
                    }
                }
            }
            @else {
                @if $background {
                    background-color: map-get($values, $background);
                }
            }
        }
    }
}
