{{ if .IsPage }}

    {{ with .Params.images }}
        {{/*  Twitter summary card with large image must be at least 280x150px  */}}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:image:src" content="{{ index . 0 | absURL }}"/>
        <meta name="twitter:card" content="summary"/>
    {{ end }}

    {{/*  Twitter Card data  */}}
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>

    {{ with .Site.Social.twitter }}
        <meta name="twitter:site" content="@{{ . }}"/>
    {{ end }}

    {{ with .Site.Social.twitter_domain }}
        <meta name="twitter:domain" content="{{ . }}"/>
    {{ end }}

    {{ range .Site.Authors }}
        {{ with .twitter }}
            <meta name="twitter:creator" content="@{{ . }}"/>
        {{ end }}
    {{ end }}

{{ else }}

    <meta name="twitter:card" content="summary" />

    {{ with .Site.Social.twitter }}
        <meta name="twitter:site" content="@{{ . }}"/>
    {{ end }}

    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>

    {{ with .Site.Params.images }}
        {{ range first 6 . }}
            <meta name="twitter:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ end }}

{{ end }}
