{{ define "main" }}

    <section class="section">
        <div class="container">

            <h1 class="taxonomies-headline">
                {{ .Title }}
            </h1>

            {{/*  Range Terms  */}}
            {{ $data  := .Data }}
            {{ $title := .Title }}
            {{ range $key, $value := .Data.Terms }}
                <ul class="{{ lower $title }}">
                    <li class="{{ lower $title | urlize }}-item">
                        <a class="{{ lower $title | urlize }}-link" href="/{{ $data.Plural }}/{{ $key | urlize }}">
                            {{ $key }}
                        </a> <span>({{ len $value }})</span>
                    </li>
                </ul>
            {{ end }}
            {{/*  End: Range Terms  */}}

        </div>
    </section>

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
