{{ define "main" }}

    <section class="section">
        <div class="container">
            <h1 class="taxonomies-headline">The series:</h1>
            <ul>
                {{ range $key, $taxonomy := .Site.Taxonomies.series }}
                    <li> {{ $key }} </li>
                    <ul>
                        {{ range $taxonomy.Pages }}
                            <li hugo-nav="{{ .RelPermalink}}">
                                <a href="{{ .Permalink}}">{{ .LinkTitle }}</a>
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </ul>
        </div>
    </section>

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
